.gitignore
.gitkeep
.github
.git
.venv
.env.example
.env.db.example
.vscode

docs
README
LICENSE
dump.rdb
core/logs/user/
core/logs/gunicorn_access.log/
core/logs/gunicorn_error.log/
core/local/uk/LC_MESSAGES/django.mo