<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body style="background-color: #252938; color:white; padding: 55px; font-family: 'Inter', sans-serif;">
    <table style="width: 100;">
        <tbody>
            <tr>
                <td>
                    <h1 style="color: rgb(210, 112, 145); font-family: 'Inter', sans-serif; font-size: 36px;">
                        Welcome to Sakuras Sweets!</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 18px; color: white;">
                        Dear {{user}},</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 18px; color: white;">
                        Thank you for joining Sakuras Sweets, your go-to place for delightful Japanese candies!</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 18px; color: white;">
                        We are thrilled to have you as a part of our sweet community. Get ready to explore a world of unique and delicious treats that will surely satisfy your sweet tooth.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 18px; color: white;">
                        Feel free to browse through our website and discover a variety of cute and mouth-watering candies inspired by the flavors of Japan.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 18px; color: white;">
                        Should you have any questions or need assistance, don't hesitate to reach out to our friendly support team.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 18px; color: white;">
                        Happy snacking!</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://sakurassweets.asion.tk/" target="_blank" style="display:inline-block; border-radius: 8px; background-color: rgb(210, 112, 145); padding:16px 24px; color: white; text-decoration: none; font-weight: 600; font-size: 20px;">
                        Start Shopping</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>